@model CarRentApp.ViewModels.RentRequestViewModel

@{
    ViewBag.Title = "Request Details";
}

<h2>Request Details</h2>
<hr/>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FromPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToPlace)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirCondition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirCondition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p class="col-md-offset-1">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id },new {@class="btn btn-success"}) &nbsp;
    @Html.ActionLink("Back to List", "Index",null,new{@class="btn btn-info "})
</p>
