@model CarRentApp.ViewModels.NotificationViewModel

@{
    ViewBag.Title = "Replay";
}

<h2>Replay</h2>
<hr/>
@{
    //var data = ViewBag.Notification;
    if (Model.Customer!=null)
    {
        <div class="row table-bordered">

            <div class="col-md-6 ">
                <h3 class="col-md-offset-1"> Customer Info:</h3><br/>
                <div class="row">

                    @Html.LabelFor(model => model.Customer.Name, new {@class = "control-label col-md-4"})
                    <div class="col-md-8">
                        <p>@Model.Customer.Name</p>
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.Customer.ContactNo, new {@class = "control-label col-md-4"})
                    <div class="col-md-8">
                        <p>@Model.Customer.ContactNo</p>
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.Customer.Email, new {@class = "control-label col-md-4"})
                    <div class="col-md-8">
                        <p>@Model.Customer.Email</p>
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.Customer.Address, new {@class = "control-label col-md-4"})
                    <div class="col-md-8">
                        <p>@Model.Customer.Address</p>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <h3 class="col-md-offset-1"> Vehicle Rent Info:</h3><br/>
                <div class="row">

                    @Html.LabelFor(model => model.RentRequest.FromPlace, new {@class = "control-label col-md-4"})
                    <div class="col-md-8">
                        <p>@Model.RentRequest.FromPlace</p>
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.RentRequest.ToPlace, new {@class = "control-label col-md-4"})
                    <div class="col-md-8">
                        <p>@Model.RentRequest.ToPlace</p>
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.RentRequest.StartDateTime, new {@class = "control-label col-md-4"})
                    <div class="col-md-8">
                        <p>@Model.RentRequest.StartDateTime</p>
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.RentRequest.EndDateTime, new {@class = "control-label col-md-4"})
                    <div class="col-md-8">
                        <p>@Model.RentRequest.EndDateTime</p>
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.RentRequest.AirCondition, new {@class = "control-label col-md-4"})
                    <div class="col-md-8">
                        <p>@Model.RentRequest.AirCondition</p>
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.RentRequest.VehicleQty, new {@class = "control-label col-md-4"})
                    <div class="col-md-8">
                        <p>@Model.RentRequest.VehicleQty</p>
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.RentRequest.Description, new {@class = "control-label col-md-4"})
                    <div class="col-md-8">
                        <p>@Model.RentRequest.Description</p>
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.RentRequest.VehicleType, new {@class = "control-label col-md-4"})
                    <div class="col-md-8">
                        <p>@Model.RentRequest.VehicleType.Name</p>
                    </div>
                </div>
                <br/>
            </div>


</div>
    
    }
}
<br/>
<div class="row table-bordered">

    <div class="col-md-5">
        <br/>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.RentRequestId)
            @Html.HiddenFor(model => model.CustomerId)



            <div class="form-group row">
                @Html.LabelFor(model => model.ReplayText, new {@class = "control-label col-md-4"})
                <div class="col-md-8">
                    @Html.TextAreaFor(model => model.ReplayText, new {@class = "form-control", @style = "width: 850px; height:120px;"})
                    @Html.ValidationMessageFor(model => model.Details, null, new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-offset-4 col-md-7">
                    <input type="submit" value="Replay" class="btn btn-success"/>
                </div>
            </div>
        }

        <br/>

    </div>

    <div class="col-md-7">
        <h4 class=" col-md-offset-2">Conversations :</h4>
        <div class="row col-md-offset-2" >
            <div class="text-dark" style="height: 250px; overflow-y: scroll;">
                <table class="table-hover" style="width: 100%">
                    @{
                        var msgData = ViewBag.NotificationList;
                        if (msgData != null)
                        {
                            foreach (var msgDt in msgData)
                            {
                                <tr>
                                    <td>
                                        <dl>
                                            <dt class="text-primary">@msgDt.Customer.Name <span class="col-md-offset-1 text-muted"> @msgDt.NotificatinDateTime.ToString("hh:mm:tt")</span></dt>
                                            <dd style="margin-left: 30px;">@msgDt.Details</dd>
                                        </dl>
                                    <td>

                                </tr>
                            }

                        }
                    }
                </table>
            </div>
           
        </div>
    </div>

</div>
<br/>
<div>
    
    @Html.ActionLink("Back to List", "Index","RentRequest")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
