<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("Styles", false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Car Rent", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    @if (User.IsInRole("Customer") || User.IsInRole("AppAdmin") || User.IsInRole("Controller"))
                    {
                        <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Rent Request
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Create", "Create", "RentRequest")</li>
                            <li>@Html.ActionLink("Rent Request List", "Index", "RentRequest")</li>
                        </ul>
                    </li>
                    }
                    
                    @if (User.IsInRole("AppAdmin") || User.IsInRole("Controller"))
                        {

                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Customer
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Create", "Create", "Customer")</li>
                                <li>@Html.ActionLink("Customer List", "Index", "Customer")</li>
                            </ul>
                        </li>
                        <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Vehicle Type
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Create", "Create", "VehicleType")</li>
                            <li>@Html.ActionLink("Vehicle Type List", "Index", "VehicleType")</li>
                        </ul>
                    </li>

                    
                    <li>@Html.ActionLink("Rent Assign List","Index","RentAssign")</li>
                        }
                    

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Vehicle Rent Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")

    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
   
    @RenderSection("scripts", required: false)
</body>
</html>
